body {
    font-family: 'Segoe UI', sans-serif;
    
    #content {

        h1:first-child {
            color:#0380B1;
            font-weight: 200;
        }

        .hero-text {
            color:#0380B1;
        }

    }

}
