<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hero App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>
<body ng-app="heroapp">
    <div id="content" ng-controller="mainController as ctrl" class="container-fluid">
        <h1>People Search</h1>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="enter your search item" ng-model="ctrl.search.name">
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-2 text-center" ng-repeat="item in ctrl.heroes | filter:ctrl.search:strict| orderBy:'id'">
                <img class="img-responsive center-block" ng-src="{{item.imageUrl}}" alt="{{item.name}}" />
                <div class="text-center hero-text" ng-bind="item.name"></div>
            </div>
        </div>

    </div>
    <script src="Scripts/jquery-2.2.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/base.js"></script>
    <script src="app/maincontroller.js"></script>
    <script src="app/heroservice.js"></script>
</body>

</html>
